In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
data = {
    "arrondissement": ["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th",
                       "11th","12th","13th","14th","15th","16th","17th","18th","19th","20th"],
    "pop_2018": [16910,22790,35460,28140,59960,41890,50680,37210,60630,85910,
                 150070,142580,185150,138400,237290,169320,170890,200670,187000,193420],
    "pop_2019": [16580,22380,34910,27620,59110,41210,50010,36750,60180,85110,
                 148460,142110,183900,137420,235980,167990,169820,198390,186050,191850],
    "pop_2020": [16250,21970,34360,27100,58260,40530,49340,36290,59730,84310,
                 146850,141640,182650,136440,234670,166660,168750,196110,185100,190280],
    "pop_2021": [15920,21560,33810,26580,57410,39850,48670,35830,59280,83510,
                 145240,141170,181400,135460,233360,165330,167680,193830,184150,188860],
    "pop_2022": [15595,21154,33260,26055,56561,39173,47998,35364,58829,82705,
                 143630,140705,180147,134484,232042,164008,166610,191550,183208,187694],
    "pop_2023": [15350,20800,32800,25600,55900,38700,47500,34900,58400,82100,
                 142500,140400,179000,133800,231200,163200,165900,190100,182600,186810]
}

In [9]:
df_population = pd.DataFrame(data)

engine = create_engine("mysql+pymysql://root:001291100@localhost/open_data_paris")

df_population.to_sql('paris_population', con=engine, if_exists='replace', index=False)

print("Paris population table uploaded successfully!")

Paris population table uploaded successfully!

In [6]:
import pandas as pd
import pymysql
import re

conn = pymysql.connect(
    host='localhost',
    user='agfirass',
    password='001291100',
    database='open_data_paris'
)

df = pd.read_sql("SELECT * FROM paris_population", conn)

df_long = df.melt(
    id_vars=['arrondissement'],
    value_vars=['pop_2018', 'pop_2019', 'pop_2020', 'pop_2021', 'pop_2022', 'pop_2023'],
    var_name='year',
    value_name='population'
)

df_long['year'] = df_long['year'].str.replace('pop_', '').astype(int)

def arrondissement_to_number(x):
    match = re.search(r'\d+', x)
    return int(match.group()) if match else None

df_long['arrondissement'] = df_long['arrondissement'].apply(arrondissement_to_number)

df_long = df_long.sort_values(['arrondissement', 'year']).reset_index(drop=True)

df_long.head(50)

C:\Users\AGFirass\AppData\Local\Temp\ipykernel_16908\970556270.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM paris_population", conn)

    arrondissement  year  population
0                1  2018       16910
1                1  2019       16580
2                1  2020       16250
3                1  2021       15920
4                1  2022       15595
5                1  2023       15350
6                2  2018       22790
7                2  2019       22380
8                2  2020       21970
9                2  2021       21560
10               2  2022       21154
11               2  2023       20800
12               3  2018       35460
13               3  2019       34910
14               3  2020       34360
15               3  2021       33810
16               3  2022       33260
17               3  2023       32800
18               4  2018       28140
19               4  2019       27620
20               4  2020       27100
21               4  2021       26580
22               4  2022       26055
23               4  2023       25600
24               5  2018       59960
25               5  2019       59110
26               5  2020       58260
27               5  2021       57410
28               5  2022       56561
29               5  2023       55900
30               6  2018       41890
31               6  2019       41210
32               6  2020       40530
33               6  2021       39850
34               6  2022       39173
35               6  2023       38700
36               7  2018       50680
37               7  2019       50010
38               7  2020       49340
39               7  2021       48670
40               7  2022       47998
41               7  2023       47500
42               8  2018       37210
43               8  2019       36750
44               8  2020       36290
45               8  2021       35830
46               8  2022       35364
47               8  2023       34900
48               9  2018       60630
49               9  2019       60180

In [8]:
from sqlalchemy import create_engine

engine = create_engine(
    'mysql+pymysql://agfirass:001291100@localhost/open_data_paris'
)

df_long.to_sql(
    name='paris_population',
    con=engine,
    if_exists='replace',
    index=False
)

120